{% extends 'base.html.twig' %}

{% block body %}
       <h1 class="bg-secondary">Welcome to symfony et bienvenue!</h1>
       <img src="{{ asset('build/test.png') }}" alt=""/>
       <ul>
       <li><a href="">programme 1 </a></li>
       <li><a href="">programme 2 </a></li>

       </ul>
{% endblock %}