{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <strong>Filmotech :</strong>
<ul>

    {% if actor is defined %}
        {% for program in actor.programs %}
        <li><a href="{{ path("program_show", { program: program.id }) }}">{{ program.title }}</a></li>

        {% endfor %}
    {% else %}
        <li>Aucune série pour cet acteur</li>
    {% endif %}
</ul>
{% endblock %}
